In [111]:
import pandas as pd
import numpy as np

data = pd.read_csv('checkins.dat', sep='|')
data.rename(columns=lambda x: x.strip(), inplace=True)
data.head()

/Users/ko.bykov/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,user_id,venue_id,latitude,longitude,created_at
0,984301,2041916.0,5222.0,,,2012-04-21 17:39:01
1,984222,15824.0,5222.0,38.8951118,-77.0363658,2012-04-21 17:43:47
2,984315,1764391.0,5222.0,,,2012-04-21 17:37:18
3,984234,44652.0,5222.0,33.800745,-84.41052,2012-04-21 17:43:43
4,984249,2146840.0,5222.0,,,2012-04-21 17:42:58

In [112]:
data.replace('                   ', np.nan, inplace=True)
data.dropna(inplace=True)
data.head()

,id,user_id,venue_id,latitude,longitude,created_at
1,984222,15824.0,5222.0,38.8951118,-77.0363658,2012-04-21 17:43:47
3,984234,44652.0,5222.0,33.800745,-84.41052,2012-04-21 17:43:43
7,984291,105054.0,5222.0,45.5234515,-122.6762071,2012-04-21 17:39:22
9,984318,2146539.0,5222.0,40.764462,-111.904565,2012-04-21 17:35:46
10,984232,93870.0,380645.0,33.4483771,-112.0740373,2012-04-21 17:38:18

In [134]:
from sklearn.cluster import MeanShift

data2 = data.iloc[0:100000, 3:5]
data2.head()
clustering = MeanShift(bandwidth=0.1, min_bin_freq=15).fit(data2)

In [139]:
centroids = clustering.cluster_centers_
print(centroids)

[[  40.7177164   -73.99183542]
 [  33.44943805 -112.00213969]
 [  33.44638027 -111.90188756]
 ...
 [ -37.8229826   145.1811902 ]
 [ -41.2924945   174.7732353 ]
 [ -45.0311622   168.6626435 ]]

In [140]:
offices = [ [33.751277, -118.188740], [25.867736, -80.324116], [51.503016, -0.075479], [52.378894, 4.885084], [39.366487, 117.036146], [-33.868457, 151.205134] ]
y = clustering.predict(offices)

In [144]:
min_dist = 1000000
ans = None
for office in offices:
    for centr in clustering.cluster_centers_:
        dist = np.linalg.norm(office - centr)
        if (dist < min_dist):
            print(office, y, dist)
            min_dist = dist
            ans = centr

print(ans)

[33.751277, -118.18874] 420 44.74257091784804
[33.751277, -118.18874] 420 6.193959165601315
[33.751277, -118.18874] 420 5.77204797983301
[33.751277, -118.18874] 420 3.834584868539052
[33.751277, -118.18874] 420 0.3148837903362732
[33.751277, -118.18874] 420 0.30473050307840693
[33.751277, -118.18874] 420 0.21181053682436798
[33.751277, -118.18874] 420 0.07084773242719973
[25.867736, -80.324116] 420 0.022674066158385495
[52.378894, 4.885084] 420 0.009353316185992226
[-33.868457, 151.205134] 420 0.007834758163107856
[-33.86063043 151.20477593]

In [142]:
print(clustering.cluster_centers_[ans])

[51.50299126 -0.12553729]